html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #333;
    height: 100%;
    background: url('../images/bg_en.jpg') no-repeat center center fixed;
    background-size: cover;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.85);
    z-index: -1;
}

body {
    padding-bottom: 90px;
}

#main-nav-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    box-shadow: none;
    padding: 0;
    z-index: 100;
}

.nav-button-container {
    width: 80%;
    display: flex;
    justify-content: space-around;
    padding: 10px 7px;
    background-color: transparent;
    margin: 0 auto 10px auto;
}

.footer-nav-button {
    flex: 1;
    max-width: 18%;
    text-align: center;
    padding: 8px 0;
    text-decoration: none;
    color: white;
    background-color: #246aac;
    border-radius: 10px;
    margin: 0 1px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-color 0.2s;
}

.footer-nav-button:hover, 
.footer-nav-button:focus {
    background-color: #376477;
}

.nav-icon {
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}

.nav-text {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.0;
}

.lang-toggle-container {
    position: fixed;
    top: 12px;
    right: 12px;
    z-index: 999;
}

.lang-btn {
    padding: 8px 14px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    background: #1e90ff;
    color: white;
}

.lang-btn:hover {
    opacity: 0.9;
}

.back-btn {
    position: fixed;
    top: 10px;
    left: 10px;
    background: #246aac;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    z-index: 999;
}

.back-btn:hover {
    opacity: 0.9;
}